@CHARSET "UTF-8";

body {
  font: 13px sans-serif;
  position: relative;
  width: 960px;
  height: 500px;
}

a 
{ 
	outline: 0; 
	color: #05C; 
	margin: 0;
	padding: 0;
	text-decoration:none;
}

.return {
    position: fixed;
    left: 0;
	padding: 5px;
	margin-left: 10px;
    background: #DDD;
    width: 50px;
	text-align: right;
	color: gray;
	z-index:10;
	display:inline;

    -moz-border-radius:    5px;
    -webkit-border-radius: 5px;
    border-radius:         5px;

    -moz-box-shadow:    3px 3px 5px rgba(0,0,0,.2); /* -- repeating rgba shadow color 3 times        */
    -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,.2); /*    is not very nice when you count every byte */
    box-shadow:         3px 3px 5px rgba(0,0,0,.2); /*    so this is shortest value possible ;)      */
}

.menu {
    position: fixed;
    left: 100px;
	padding: 5px;
	margin-left: 25px;
    background: #DDD;
    width: 200px;
	text-align: right;
	color: gray;
	z-index:10;
	display:inline;

    -moz-border-radius:    5px;
    -webkit-border-radius: 5px;
    border-radius:         5px;

    -moz-box-shadow:    3px 3px 5px rgba(0,0,0,.2); /* -- repeating rgba shadow color 3 times        */
    -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,.2); /*    is not very nice when you count every byte */
    box-shadow:         3px 3px 5px rgba(0,0,0,.2); /*    so this is shortest value possible ;)      */
}

.node {
  fill: #000;
  cursor: crosshair;
}

.node_selected {
  fill: #ff7f0e;
  stroke: #ff7f0e;
}

.drag_line {
  stroke: #999;
  stroke-width: 5;
  pointer-events: none;
}

.drag_line_hidden {
  stroke: #999;
  stroke-width: 0;
  pointer-events: none;
}

.link {
  stroke: #DDD;
  stroke-width: 7;
  cursor: crosshair;
}

.link_selected {
  stroke: #ff7f0e;
}

.waiting {
    position: fixed;
    left: 500px;
    top: 10px; 
}

.message {
    position: fixed;
    left: 0;
    bottom : 0;
	background: gray;
    width: 300px;
    padding: 5px;
	margin: 20px;
	text-align: center;
	font-family:arial, helvetica; 
	font-size:16px; 
	color: black;
	z-index:12;

    -moz-border-radius:    5px;
    -webkit-border-radius: 5px;
    border-radius:         5px;

    -moz-box-shadow:    3px 3px 5px rgba(0,0,0,.2); /* -- repeating rgba shadow color 3 times        */
    -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,.2); /*    is not very nice when you count every byte */
    box-shadow:         3px 3px 5px rgba(0,0,0,.2); /*    so this is shortest value possible ;)      */
}

.debug {
    position: fixed;
    right: 0;
    bottom: 0; 
    border: 2px solid #DDD;
    background: #FFF;
	font-family: "courrier new"; 
	font-size:8px;
    padding: 5px;
    margin-bottom: 30px;
	z-index:12;
}

.help {
    position: fixed;
    right: 0;
    top: 0; 
    border: 2px solid #0A0;
    background: #FFF;
	font-family: "courrier new"; 
	font-size:8px;
    padding: 5px;
    margin-bottom: 30px;
	z-index:10;
}

/*
 * Footer
 * ========
 */

footer {
    position: fixed;
    bottom: 0; right: 0;
    padding: 5px;
    font-size: .7em;
    opacity: .6;
	z-index:5;
}

footer:hover { opacity: 1 }
