@charset "UTF-8";

path{
  stroke : #DDD;
}

.drag_line{
  stroke : #999;
}

.link.selected{
  stroke : #999;
}

.link.selected{
  stroke : #999;
}

circle{
  stroke : #DDD;
}

circle.selected{
  stroke : #999;
}
